# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\alexbts\OneDrive - Ensemble Scolaire LA SALLE Clermont Ferrand\Documents\GitHub\PrestaChopeGrp3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
